:root {
	--background-color: #ffd166;
	--spot-color: #ef476f;
	--main-color: #073b4c;
	--aux-color: #06d6a0;
	--grid-color: #118ab2;
	--black-opacity: 5%;
	--white-opacity: 20%;
	--grid-opacity: 75%;
}

