:root {
	--background-color: #f4f1de;
	--spot-color: #81b29a;
	--main-color: #3d405b;
	--aux-color: #f2cc8f;
	--grid-color: #e07a5f;
	--black-opacity: 5%;
	--white-opacity: 20%;
	--grid-opacity: 75%;
}
