:root {
	--background-color: #3d144c;
	--spot-color: #1685f8;
	--main-color: #faeb2c;
	--aux-color: #ff3399;
	--grid-color: #6699cc;
	--black-opacity: 10%;
	--white-opacity: 2%;
	--grid-opacity: 50%;
	--far-grid-opacity: 15%;
}
