:root {
	--background-color: #ffeebb;
	--spot-color: #f7df5c;
	--main-color: #073b4c;
	--aux-color: #048f6a;
	--grid-color: #336699;
	--black-opacity: 5%;
	--white-opacity: 20%;
	--grid-opacity: 75%;
}

