:root {
	--background-color: #1a1a1a;
	--spot-color: #223300;
	--main-color: #ffcc00;
	--aux-color: #008000;
	--grid-color: #d40000;
	--black-opacity: 100%;
	--white-opacity: 2%;
	--grid-opacity: 50%;
}

