
:root {
	touch-action: pan-x pan-y;
	height: 100% 
  }
#filesinput {
	display: none;
}

html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: var(--background-color);
	font-family: 'Oswald', sans-serif;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	touch-action: manipulation;
}

a {
	color: var(--main-color);
	text-decoration: none;
}

.contentSVG {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.debug {
	fill: #ff0000;
	fill-opacity: 25%;
	stroke: #ff0000;
	stroke-opacity: 50%;
	
}
.keyFillBlack {
	fill: #000000;
	fill-opacity: var(--black-opacity);
}
.keyFillWhite {
	fill: #ffffff;
	fill-opacity: var(--white-opacity);
}
.keyFillOctaveLine {
	fill: var(--grid-color);
	fill-opacity: var(--white-opacity);
}


.keyLine1 {
	fill: #eeeeee;
	fill-opacity2: 25%;
}

.keyLine2 {
	fill: #dddddd;
	fill-opacity2: 25%;
}

.keyLine3 {
	fill: #ddddff;
	fill-opacity2: 25%;
}

.meterLine {
	fill: var(--grid-color);
	fill-opacity: var(--grid-opacity);
}
.meterFarLine {
	fill: var(--grid-color);
	fill-opacity: var(--far-grid-opacity);
}

.firstLine {
	stroke: var(--main-color);
	stroke-opacity: 100%;
	stroke-width: 2.9cm;
	stroke-linecap: round;
}
.secondLine {
	stroke: var(--aux-color);
	stroke-opacity: 50%;
	stroke-width: 2.9cm;
	stroke-linecap: round;
}
.otherLine {
	stroke: var(--grid-color);
	stroke-opacity: 25%;
	stroke-width: 2.9cm;
	stroke-linecap: round;
}
.firstJoint {
	fill: var(--main-color);
	fill-opacity: 75%;
}
.secondJoint {
	fill: var(--aux-color);
	fill-opacity: 15%;
}
.otherJoint {
	fill: var(--grid-color);
	fill-opacity: 0.05%;
}
.firstSegment {
	stroke: var(--main-color);
	stroke-opacity: 100%;
	stroke-width: 5cm;
	stroke-linecap: round;
}
.secondSegment {
	stroke: var(--aux-color);
	stroke-opacity: 50%;
	stroke-width: 5cm;
	stroke-linecap: round;
}
.otherSegment {
	stroke: var(--grid-color);
	stroke-opacity: 5%;
	stroke-width: 5cm;
	stroke-linecap: round;
}

.popupFill {
	fill: var(--background-color);
	fill-opacity: 75%;
}

.popupShadow1 {
	fill: #000000;
	fill-opacity: 30%;
}
.popupShadow2 {
	fill: #000000;
	fill-opacity: 20%;
}
.popupShadow3 {
	fill: #000000;
	fill-opacity: 10%;
}

.fog {
	fill: #999999;
	fill-opacity: 50%;
}

.fillButtonActionPoint {
	fill: #ff0000;
	fill-opacity: 0.0001%;
}

.fillFlatSpot {
	fill: var(--spot-color);
}

.fillSelectionSpot {
	fill: var(--spot-color);
	fill-opacity: 25%;
}
.fillUnSelectSpot22222{
	fill: var(--spot-color);
	fill-opacity: 75%;
}
.fillSelectionFirst {
	fill: var(--spot-color);
	fill-opacity: 75%;
}

.fillButtonSpot {
	fill2: var(--spot-color);
	stroke2: var(--main-color);
	stroke2-opacity: 100%;
	stroke2-width: 2px;
	fill:url(#buttonGradient)
}

.fillColorContent {
	fill: var(--main-color);
}
.fillDisabledColorContent {
	fill: var(--main-color);
	text-decoration: line-through;
}

.tickerLine {
	fill: var(--spot-color);
	transform2:translateX(555px);
}

.fillColorAuxiliary2222222222222222222222222222 {
	fill: var(--aux-color);
}

.fillColorOther {
	fill: var(--grid-color);
}
.fillColorSub {
	fill: var(--aux-color);
}

.fillBack {
	fill: var(--background-color);
}

.fontSize256 {
	font-size: 256cm;
	pointer-events: none;
}

.fontSize128 {
	font-size: 128cm;
	pointer-events: none;
}

.fontSize64 {
	font-size: 64cm;
	pointer-events: none;
}

.fontSize32 {
	font-size: 32cm;
	pointer-events: none;
}

.fontSize16 {
	font-size: 16cm;
	pointer-events: none;
}

.fontSize8 {
	font-size: 8cm;
	pointer-events: none;
}

.fontSize4 {
	font-size: 4cm;
	pointer-events: none;
}

.fontSize2 {
	font-size: 2cm;
	pointer-events: none;
}

.fontSize1 {
	font-size: 1cm;
	pointer-events: none;
}

.fontSize05 {
	font-size: 0.5cm;
	pointer-events: none;
}

.overLabelVoice {
	font-size: 1cm;
	fill: var(--main-color);
	fill-opacity: var(--grid-opacity);
	transform: rotate(90deg);
}

.overLabelTrack {
	font-size: 1.3cm;
	fill: var(--grid-color);
	fill-opacity: var(--grid-opacity);
	transform: rotate(90deg);
}
.octaveLabel16 {
	font-size: 8cm;
	fill: var(--aux-color);
	fill-opacity: var(--grid-opacity);
}
.octaveLabel8 {
	font-size: 4cm;
	fill: var(--aux-color);
	fill-opacity: var(--grid-opacity);
}
.octaveLabel4 {
	font-size: 2cm;
	fill: var(--aux-color);
	fill-opacity: var(--grid-opacity);
}
.octaveLabel2 {
	font-size: 1cm;
	fill: var(--aux-color);
	fill-opacity: var(--grid-opacity);
}
.menuSmallIcon {
	fill: var(--main-color);
	width: 0.5cm;
	height: 0.5cm;
}
.menuRowIcon {
	fill: pink;
	width: 0.5cm;
	height: 0.5cm;
	stroke: #ff0000;
	background-color: green;
}
img.menuRowIcon{
	fill: var(--aux-color);
}
.barNum256{
	font-size: 256cm;
	fill: var(--aux-color);
	fill-opacity: var(--grid-opacity);
}
.barNum64{
	font-size: 64cm;
	fill: var(--aux-color);
	fill-opacity: var(--grid-opacity);
}
.barNum16{
	font-size: 16cm;
	fill: var(--aux-color);
	fill-opacity: var(--grid-opacity);
}
.barNum4{
	font-size: 4cm;
	fill: var(--aux-color);
	fill-opacity: var(--grid-opacity);
}
.mainMenu {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: var(--background-color);
	overflow: hidden;
	transition: 0.25s;
	margin: 0px;
	padding:0px;
	box-shadow: 0px 0px 0.3cm grey;
	font-size: 0.75cm;
}
.menuHeaderDiv {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color:var(--main-color);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: var(--spot-color);
	font-size: 75%;
	padding-top:0.1cm;
	padding-left:0.2cm;
	padding-right:0.0cm;
	color: var(--main-color);
}
.menuButtonIcon {
	height: 1cm;
	width:1cm;
	vertical-align: middle;
}
.mainMenuRows {
	margin-left: 0.0cm;
	margin-right: 0.0cm;
	margin: 0px;
	padding:0px;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	z-index: 2;
	height: 100%;
	width: 100%;
}
.mainMenuButtonRow {
	margin: 0px;
	padding-top:0.1cm;
	padding-left:0.2cm;
	padding-right:0.0cm;
	font-size: 75%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: var(--grid-color);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: baseline;
}
.subMenuButtonRow {
	margin: 0px;
	padding-top:0.1cm;
	padding-left:0.5cm;
	padding-right:0.0cm;
	font-size: 75%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: var(--grid-color);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: baseline;
}
.mainMenuSelected1 {
	margin: 0px;
	padding-top:0.1cm;
	padding-left:0.2cm;
	padding-right:0.0cm;
	font-size: 75%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: var(--aux-color);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: baseline;
}
.subMenuSelected1 {
	margin: 0px;
	padding-top:0.1cm;
	padding-left:0.5cm;
	padding-right:0.0cm;
	font-size: 75%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: var(--aux-color);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: baseline;
}
.mainMenuSelected2 {
	margin: 0px;
	padding-top:0.1cm;
	padding-left:0.2cm;
	padding-right:0.0cm;
	font-size: 75%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: var(--main-color);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: baseline;
}
.subMenuSelected2 {
	margin: 0px;
	padding-top:0.1cm;
	padding-left:0.5cm;
	padding-right:0.0cm;
	font-size: 75%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: var(--main-color);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: baseline;
}
