:root {
	--background-color: #000309;
	--spot-color: #003380;
	--main-color: #ddddff;
	--aux-color: #ff3399;
	--grid-color: #66ccff;
	--black-opacity: 100%;
	--white-opacity: 2%;
	--grid-opacity: 50%;
	--far-grid-opacity: 15%;
}


