:root {
	--background-color: #d0e5f2;
	--spot-color: #bf702a;
	--main-color: #344f73;
	--aux-color: #227733;
	--grid-color: #3366cc;
	--black-opacity: 5%;
	--white-opacity: 20%;
	--grid-opacity: 50%;
}
