:root {
	--background-color: #1a1a1a;
	--spot-color: #663300;
	--main-color: #ffcc00;
	--aux-color: #008000;
	--grid-color: #ff3333;
	--black-opacity: 100%;
	--white-opacity: 2%;
	--grid-opacity: 50%;
	--far-grid-opacity: 15%;
}

