:root {
	--background-color: #435c73;
	--spot-color: #d92b2b;
	--main-color: #d9d9d9;
	--aux-color: #a67951;
	--grid-color: #537fa6;
	--black-opacity: 5%;
	--white-opacity: 5%;
	--grid-opacity: 75%;
}
