:root {
	--background-color: #435c73;
	--spot-color: #990099;
	--main-color: #d9d9d9;
	--aux-color: #ff7951;
	--grid-color: #99ccff;
	--black-opacity: 5%;
	--white-opacity: 5%;
	--grid-opacity: 75%;
}
