:root {
	--background-color: #f4f1de;
	--spot-color: #81b29a;
	--main-color: #3d405b;
	--aux-color: #cc9966;
	--grid-color: #ee6633;
	--black-opacity: 5%;
	--white-opacity: 20%;
	--grid-opacity: 75%;
	--far-grid-opacity: 10%;
}
