
:root {
	--background-color: #f2f2f2;
	--spot-color: #ffcc99;
	--main-color: #73454d;
	--aux-color: #585959;
	--grid-color: #a69586;
	--black-opacity: 5%;
	--white-opacity: 50%;
	--grid-opacity: 50%;
	--far-grid-opacity: 10%;
}
