.onecm1 {
	background-color: #557799;
	width: 1cm;
	height: 1cm;
}
.redbackground {
	fill: #ff0000;
}
html {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}
body {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}
.contentSVG {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}